#slid {
	height: 600px !important;
}

#slids {
	height: 600px !important;
}

#dropdown1 {
	margin-top: 64px;
}

#rbuttsub {
	margin-left: 80px;
}

.aujust {
	text-align: justify;
}


.slider .indicators .indicator-item.active {
  background-color: #009688 !important;
}

.shadowman {
  text-shadow: 1px 1px 1px #000;
}

.modal-trigger {
	margin-bottom: 15px !important;
	width: 200px;
}

.fflg {
	font-family: 'Luckiest Guy', cursive;
}

.ffbs {
	font-family: 'Bree Serif', serif;
}

.marleft {
	margin-left: 10px;
}

.divider2 {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.martop5 {
	margin-top: 6px;
}

#hhh {
  width: 50px;
}

.watright {
  text-align: right;
}

.watheight {
  height: 400px !important;
  margin-top: auto;
  margin-bottom: auto;
}

.maxheight {
  display: block;
  max-height: 400px;
  box-sizing: cover;
}

.watwidth {
  width: 100%;
}

.watcenter {
  display: block;
  text-align: center;
}

.watfonthead {
  font-size:2em; 
}

.blockwidth {
  width: 100%;
  height: 300px;
}

#conbak {
  background-color: red !important;
}

.bradius {
  border-radius: 5%;
}


main {
  background-image:url("../img/hsbg/hsbg5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}

.transbg {
  background-color: rgba(0,0,0,0.2) !important;
}

#topna {
  z-index: 9;
}

#histop {
  margin-top: 0 !important;
}

.paramed {
  height: 300px;
  width: 100%;
}

.parallax-container {
  height: 500px;
}

.nav-wrapper .brand-logo img {
  height: 64px;
 }

.blogo {
  margin-top: 20px;
  width: 60%;
 }






/*TIMELINE SETUP*/

.timeline {
  position: relative;
}

.timeline .timeline-event {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.timeline .timeline-event .timeline-content {
  position: relative;
  width: calc(50% - 50px);
}

.timeline .timeline-event::before {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: 0;
}

.timeline .timeline-event::after {
  display: block;
  content: "";
  width: 2px;
  height: calc(50% - 30px);
  position: absolute;
  background: #d2d2d2;
  left: calc(50% - 1px);
  top: calc(50% + 30px);
}

.timeline .timeline-event:first-child::before {
  display: none;
}

.timeline .timeline-event:last-child::after {
  display: none;
}

.timeline .timeline-event:nth-child(even) .timeline-content {
  margin-left: calc(50% + 50px);
}

.timeline .timeline-event:nth-child(odd) .timeline-content {
  margin-left: 0;
}

.timeline .timeline-badge {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background: #d2d2d2;
  top: calc(50% - 25px);
  right: calc(50% - 25px);
  border-radius: 50%;
  text-align: center;
  cursor: default;
}

.timeline .timeline-badge i {
  font-size: 25px;
  line-height: 40px;
}

@media (max-width: 600px) {
  .timeline .timeline-event .timeline-content {
    width: calc(100% - 70px);
  }
  .timeline .timeline-event::before {
    left: 19px;
  }
  .timeline .timeline-event::after {
    left: 19px;
  }
  .timeline .timeline-event:nth-child(even) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-event:nth-child(odd) .timeline-content {
    margin-left: 70px;
  }
  .timeline .timeline-badge {
    left: 0;
  }
}

.yearlh {
  line-height: 15px;
  font-weight: bold;
}

.timeline-event img {
  width: 400px;
  height: 300px;
}