#slid {
	height: 600px !important;
}

#slids {
	height: 550px !important;
}

#dropdown1 {
	margin-top: 64px;
}

#rbuttsub {
	margin-left: 80px;
}

.aujust {
	text-align: justify;
}


.slider .indicators .indicator-item.active {
  background-color: #009688 !important;
}

.shadowman {
  text-shadow: 1px 1px 1px #000;
}

.modal-trigger {
	margin-bottom: 15px !important;
	width: 200px;
}

.fflg {
	font-family: 'Luckiest Guy', cursive;
}

.ffbs {
	font-family: 'Bree Serif', serif;
}

.marleft {
	margin-left: 10px;
}

.divider2 {
  height: 1px;
  overflow: hidden;
  background-color: #e0e0e0;
  margin-top: 20px;
  margin-bottom: 20px;
}